In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('powerplant.csv')
data.columns

Index(['country', 'country_long', 'name', 'gppd_idnr', 'capacity_mw',
       'latitude', 'longitude', 'primary_fuel', 'other_fuel1', 'other_fuel2',
       'other_fuel3', 'commissioning_year', 'owner', 'source', 'url',
       'geolocation_source', 'wepp_id', 'year_of_capacity_data',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017',
       'estimated_generation_gwh'],
      dtype='object')

In [3]:
data1 = data[['country_long', 'name', 'capacity_mw', 'latitude', 'longitude', 'primary_fuel','commissioning_year', 'owner']]
data1

,country_long,name,capacity_mw,latitude,longitude,primary_fuel,commissioning_year,owner
0,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.00,32.3220,65.1190,Hydro,NaN,NaN
1,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.00,34.5560,69.4787,Hydro,NaN,NaN
2,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100.00,34.6410,69.7170,Hydro,NaN,NaN
3,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,11.55,34.4847,70.3633,Hydro,NaN,NaN
4,Afghanistan,Northwest Kabul Power Plant Afghanistan,42.00,34.5638,69.1134,Gas,NaN,NaN
...,...,...,...,...,...,...,...,...
29905,Zambia,Ndola,50.00,-12.9667,28.6333,Oil,NaN,ZESCO
29906,Zambia,Nkana,20.00,-12.8167,28.2000,Oil,NaN,ZESCO
29907,Zambia,Victoria Falls,108.00,-17.9167,25.8500,Hydro,NaN,ZESCO
29908,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.00,-18.3835,26.4700,Coal,NaN,NaN
29909,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.00,-16.5222,28.7619,Hydro,NaN,NaN

In [8]:
data2 = pd.to_datetime(data1['commissioning_year'])
data2.head(10)

0                             NaT
1                             NaT
2                             NaT
3                             NaT
4                             NaT
5                             NaT
6                             NaT
7   1970-01-01 00:00:00.000001965
8   1970-01-01 00:00:00.000001978
9   1970-01-01 00:00:00.000001985
Name: commissioning_year, dtype: datetime64[ns]

In [5]:
data1['owner'] = data1['owner'].fillna('state')
data1

/home/voja/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,country_long,name,capacity_mw,latitude,longitude,primary_fuel,commissioning_year,owner
0,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,33.00,32.3220,65.1190,Hydro,NaN,state
1,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,66.00,34.5560,69.4787,Hydro,NaN,state
2,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,100.00,34.6410,69.7170,Hydro,NaN,state
3,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,11.55,34.4847,70.3633,Hydro,NaN,state
4,Afghanistan,Northwest Kabul Power Plant Afghanistan,42.00,34.5638,69.1134,Gas,NaN,state
...,...,...,...,...,...,...,...,...
29905,Zambia,Ndola,50.00,-12.9667,28.6333,Oil,NaN,ZESCO
29906,Zambia,Nkana,20.00,-12.8167,28.2000,Oil,NaN,ZESCO
29907,Zambia,Victoria Falls,108.00,-17.9167,25.8500,Hydro,NaN,ZESCO
29908,Zimbabwe,Hwange Coal Power Plant Zimbabwe,920.00,-18.3835,26.4700,Coal,NaN,state
29909,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,750.00,-16.5222,28.7619,Hydro,NaN,state

In [6]:
data_ppnames = data1[['name','latitude','longitude','commissioning_year']]
data_ppnames

,name,latitude,longitude,commissioning_year
0,Kajaki Hydroelectric Power Plant Afghanistan,32.3220,65.1190,NaN
1,Mahipar Hydroelectric Power Plant Afghanistan,34.5560,69.4787,NaN
2,Naghlu Dam Hydroelectric Power Plant Afghanistan,34.6410,69.7170,NaN
3,Nangarhar (Darunta) Hydroelectric Power Plant ...,34.4847,70.3633,NaN
4,Northwest Kabul Power Plant Afghanistan,34.5638,69.1134,NaN
...,...,...,...,...
29905,Ndola,-12.9667,28.6333,NaN
29906,Nkana,-12.8167,28.2000,NaN
29907,Victoria Falls,-17.9167,25.8500,NaN
29908,Hwange Coal Power Plant Zimbabwe,-18.3835,26.4700,NaN
29909,Kariba Dam South Hydroelectric Power Station Z...,-16.5222,28.7619,NaN

In [7]:
data_ppnames.dtypes

name                   object
latitude              float64
longitude             float64
commissioning_year    float64
dtype: object